@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: 'MyCustomFont';
  src: url('path/to/your/font.woff2') format('woff2'),
       url('path/to/your/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: 'Poppins', 'MyCustomFont';
  --primary-color: #223439;
  --primary-color-dark: #1b1f24;
  --secondary-color: #a9fb50;
  --text-dark: #333333;
  --text-light: #7496aa;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient-1: linear-gradient(to bottom, var(--primary-color), #1d2127);
  --gradient-2: linear-gradient(to bottom, #317fec, #35e4df);
}
/**/

/**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--white);
  line-height: 3rem;
  text-align: center;
}

.section__description {
  color: var(--text-light);
  text-align: center;
}

.btn1 {
  margin: 0 0 0 15px;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}
.btn2 {
  margin: 0 15px 0 0;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--text-dark);
  background-color: rgb(48, 193, 223) !important;
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}
.logo {
  margin: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  background-color: var(--primary-color-dark);
  padding-top: 70px;
}

nav {
    background-color: var(--primary-color-dark);
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
  }
  
.nav_fixed {
  position: fixed;
}

  .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: var(--gradient-1);
  }
  
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__links {
    position: static;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    margin-left: auto;
    gap: 2.5rem;
    background-image: var(--gradient-1);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  
  .nav__links.open {
    transform: translateY(0);
  }
  
  .nav__links a {
    color: var(--text-light);
  }
  
  .nav__links a:hover {
    color: var(--secondary-color);
  }
  
  .nav__btns {
    display: none;
  }
  
  .header__container {
    display: grid;
    gap: 0 2rem;
    overflow: hidden;
  }
  
  .header__image img {
    max-width: 400px;
    margin-inline: auto;
    border-radius: 15rem;
  }
  
  .header__container h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.5rem;
    color: var(--white);
    text-align: center;
  }
  
  .header__content .section__description {
    margin-block: 1rem 2rem;
  }
  
  .header__btns {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .header__btns .btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header__btns .btn span {
    font-size: 1.25rem;
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  .header__btns .btn:hover span {
    transform: translateX(5px);
  }
  
  .header__btns a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-light);
  }
  
  .header__btns a:hover {
    color: var(--secondary-color);
  }
  
  .header__btns a span {
    transition: 0.3s;
  }
  
  .header__btns a:hover span {
    transform: translateX(5px);
  }
  
  .header__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .header__stats__card {
    min-width: 150px;
    padding: 1.5rem 2rem;
    text-align: center;
    background-image: var(--gradient-1);
    border-radius: 1rem;
  }
  
  .header__stats__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
  }
  
  .header__stats__card p {
    font-size: 0.9rem;
    color: var(--text-light);
  }

  
.genre__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
  }
  
  .genre__card {
    max-width: 300px;
    margin-inline: auto;
  }
  
  .genre__image {
    margin-bottom: 1rem;
    position: relative;
    isolation: isolate;
    border-radius: 10rem;
    overflow: hidden;
  }
  
  .genre__image img {
    max-width: 300px;
    margin-inline: auto;
  }
  
  .genre__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
  }
  
  .genre__card:hover .genre__link {
    opacity: 1;
  }
  
  .genre__link a {
    padding: 6px 14px;
    font-size: 2rem;
    color: var(--text-dark);
    background-color: var(--secondary-color);
    border-radius: 100%;
  }
  
  .genre__card h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
  }
  
  .banner__container h2 {
    max-width: 825px;
    margin-inline: auto;
    font-size: 3rem;
    font-weight: 400;
    color: var(--white);
    line-height: 3.75rem;
    text-align: center;
  }
  
  .feature__container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
  }
  
  .feature__image img {
    padding: 5px;
    max-width: 400px;
    margin-inline: auto;
    border-radius: 1rem 1rem 1rem 10rem;
    border: 2px solid var(--text-light);
  }
  
  .feature__list {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
  }
  
  .feature__card {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-image: var(--gradient-1);
    border-radius: 1rem;
  }

  
.feature__card:hover {
    background-image: var(--gradient-2);
  }
  
  .feature__card span {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .feature__card h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .feature__card p {
    color: var(--text-light);
  }
  
  .feature__card:hover p {
    color: var(--white);
  }
  
  .client__container {
    margin-left: -10px;
    padding: 5rem 1rem 0rem 1rem;
  }
  
  .swiper {
    margin-top: 4rem;
    width: 100%;
  }

  /* -------------Qikjo o pjesa e scroll te komentet------------------------------- */
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll; 
    padding: 20px 0;
    gap: 20px;
    }
    
    /* kjo o ni pseudo element qe e perdorin edhe browserat */
    .swiper-wrapper::-webkit-scrollbar {
      height: 8px;  
    }
 
 
  .swiper-slide {
    display: block;
    max-width: 400px;
    padding: px;
  }
  
  .client__card {
    padding: 1.5rem;
    width:100%;
    height: 270px;
    background-image: var(--gradient-1);
    border-radius: 1rem;
   }
  
  .client__ratings {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .client__ratings span {
    color: gold;
  }

  .client__ratings span:last-child {
    margin-right: 0;
  }

  .client__ratings span[style*="color:gray"] {
    color: var(--text-light);
  }

  
  .three span:nth-last-child(1),
  .three span:nth-last-child(2) {
    color: var(--text-light);
  }
  
  .four span:last-child {
    color: var(--text-light);
  }
  
  .client__card p {
    margin-bottom: 2rem;
    color: var(--white);
  }
  
  .client__details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .client__details img {
    max-width: 50px;
    border-radius: 100%;
  }
  
  .client__details h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .client__details h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
  }

  
  @media (width > 540px) {
    .header__container h1 {
      font-size: 4.5rem;
      line-height: 6rem;
    }
  
    .genre__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width > 768px) {
    nav {
      position: static;
      padding-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  
    .nav__header {
      flex: 1;
      padding: 0;
      background-image: none;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-image: none;
      transform: none;
    }
  
    .nav__btns {
      display: flex;
      flex: 1;
    }
  
    .header__container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .header__container h1 {
      font-size: 5rem;
      line-height: 7rem;
      grid-column: 1/5;
      text-align: left;
    }
  
    .header__content {
      grid-column: 1/3;
    }
  
    .header__content .section__description {
      text-align: left;
    }
  
    .header__btns,
    .header__stats {
      justify-content: flex-start;
    }
  
    .header__image {
      grid-area: 2/3/3/5;
    }
  
    .genre__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .feature__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .feature__image {
      grid-area: 1/2/2/3;
    }
  
    .feature__content .section__header {
      text-align: left;
    }
  
    .footer__links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  
  @media (width > 1024px) {
    .genre__grid {
      gap: 2rem;
    }
  }

    
.pricing-container {
  text-align: center;
  padding: 2rem;
}

.pricing-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.pricing-container p {
  margin-bottom: 1.5rem;
  color: var(--text-dark);
}

.toggle-buttons {
  margin-bottom: 2rem;
}

.toggle-buttons button {
  padding: 1rem 1.7rem;
  margin: 0 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #35e4df;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.3s;
}

.toggle-buttons button.active {
  background-color: #317fec;
}

.pricing-plans {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.pricing-plan {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
}

.pricing-plan:hover {
  transform: scale(1.05);
}

.pricing-plan h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.pricing-plan .price {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.pricing-plan .price span {
  display: block;
  font-size: 1rem;
  color: #666;
}

.pricing-plan ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.pricing-plan ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.pricing-plan ul li::before {
  content: "✔";
  color: #4CAF50;
  margin-right: 0.5rem;
}

.pricing-plan button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing-plan button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color-dark);
  transition: 0.3s ease;
}

/* per drag & drop */
.feature__card{
  cursor: grab;
}
.feature__card:active{
  cursor: grabbing;
}


/*stilizimi i footer-it*/
.footer {
  position: relative; /*  qe me pas pjesen e vet */
  z-index: 2; /* rrin permi SVG */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-dark);
  color: #fff;
  padding: 10px 40px;
}

.footer .top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer .social-icons {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.footer .social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: var(--secondary-color);
}

.footer .contact {
  text-align: center;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  margin-top: 20px;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .footer .top-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer .contact {
    text-align: center;
  }
}

mark {
  background-color: var(--secondary-color);
}

abbr {
  text-decoration: none;
}

#remove-last-song{
  width: 100%;
      padding: 12px;
      margin-top: 15px;
      background-color: #ff4444;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/**/